/* Scss Document */

html, body, input, textarea, select {
	font-family: $font;
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
	-webkit-appearance: none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
}

p {
	color: #5A5A5A;
}