/* Scss Document */
/* Scss Document */
html, body, input, textarea, select {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px; }

p {
  color: #5A5A5A; }

.badge {
  background-color: red; }

#content {
  margin: 4%;
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  -moz-webkit-box-shadow: 0px 0px 7px 0px rgba(60, 60, 60, 0.5);
  -webkit-box-shadow: 0px 0px 7px 0px rgba(60, 60, 60, 0.5);
  box-shadow: 0px 0px 7px 0px rgba(60, 60, 60, 0.5); }
  #content h1 {
    margin: 2%;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 4%; }
  #content #sort {
    padding: 2%;
    width: 100%;
    background-color: #EEEEEE;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    #content #sort form {
      width: 50%; }

footer {
  text-align: center; }

/* Products Page */
.products {
  width: 96%;
  margin: 2%;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 4%; }
  .products a {
    border: none;
    float: left;
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 2%;
    width: 23.5%;
    padding: 2%;
    padding-bottom: 0;
    text-align: center; }
  .products a:hover .btn-success, .products .btn-success:focus {
    background-color: #419641;
    background-position: 0px -15px; }
  .products a:first-child {
    margin-left: 0; }
  .products a:nth-child(4n+1) {
    margin-left: 0; }
  .products .product {
    /*float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    width: 23.5%;
    padding: 2%;
    @include border();*/ }
  .products .img-holder {
    height: 200px;
    overflow: hidden; }
    .products .img-holder img {
      width: 100%; }
  .products h3 {
    margin: 0;
    margin-left: 2%;
    margin-bottom: 2%;
    font-size: 15px;
    height: 30px; }
  .products p {
    margin: 0;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    max-height: 20px;
    -o-text-overflow: ellipsis;
    /* Opera */
    text-overflow: ellipsis;
    /* IE, Safari (WebKit) */
    overflow: hidden;
    /* don't show excess chars */
    white-space: nowrap; }
  .products button {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }

.products:last-child {
  margin-bottom: 2%; }

/* Product Page */
#product-container {
  width: 96%;
  margin: 2%; }
  #product-container #product-pic {
    float: left;
    margin: 0;
    width: 50%;
    padding-right: 2%; }
    #product-container #product-pic img {
      width: 100%;
      margin-right: 2%; }
  #product-container #product-info {
    float: right;
    margin: 0;
    width: 50%;
    padding-left: 2%;
    text-align: right;
    border-left-width: 1px;
    border-left-color: #CCCCCC;
    border-left-style: dashed; }
    #product-container #product-info h2 {
      color: red;
      margin-top: 5%;
      margin-bottom: 0; }
    #product-container #product-info form {
      width: 100%;
      margin-right: 0; }
      #product-container #product-info form input, #product-container #product-info form select, #product-container #product-info form textarea, #product-container #product-info form button {
        width: 50%; }
      #product-container #product-info form label {
        margin-right: 2%; }
    #product-container #product-info #reviews {
      margin: 2%;
      margin-left: 4%;
      width: 96%;
      border-top-width: 1px;
      border-top-color: #CCCCCC;
      border-top-style: dashed;
      text-align: left; }
      #product-container #product-info #reviews h1 {
        margin-left: 0; }
      #product-container #product-info #reviews form {
        width: 100%; }
        #product-container #product-info #reviews form input, #product-container #product-info #reviews form textarea, #product-container #product-info #reviews form button, #product-container #product-info #reviews form select {
          width: 100%; }
      #product-container #product-info #reviews .review {
        margin-top: 2%;
        width: 100%;
        border-bottom-width: 1px;
        border-bottom-color: #CCCCCC;
        border-bottom-style: dashed; }
        #product-container #product-info #reviews .review span {
          color: #2092F9; }
        #product-container #product-info #reviews .review h3 {
          margin-bottom: 0; }
        #product-container #product-info #reviews .review i {
          font-size: 8pt;
          color: #808080; }
  #product-container form {
    margin-top: 5%; }

form {
  width: 100%; }
  form input, form select, form textarea {
    width: 100%;
    border: 1px solid #CCCCCC;
    padding: 1%;
    margin-left: 0;
    margin-bottom: 2%;
    font-size: 15px; }
  form input:focus, form select:focus, form textarea:focus {
    border: 1px solid #FF0004; }
  form textarea {
    height: 150px;
    resize: none; }
  form .required {
    font-weight: bold;
    color: #cccccc; }
  form .submit {
    background-color: #005E0D;
    color: #FFF;
    border: none;
    display: block;
    margin-bottom: 2%;
    padding-left: 0; }
  form .submit:hover {
    cursor: pointer;
    background-color: green; }

/* Normalize placeholder styles */
/* chrome, safari */
::-webkit-input-placeholder {
  color: #CCC;
  font-style: italic; }

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #CCC;
  font-style: italic; }

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text {
  color: #CCC;
  font-style: italic; }

@media only screen and (max-width: 1280px) {
  #wrapper {
    width: 90%; }

  .products a:nth-child(n+1) {
    margin-left: 2%;
    width: 49%; }

  .products a:nth-child(2n+1) {
    margin-left: 0; }

  .row .table .name {
    width: 40%; }

  footer p {
    margin-top: 1.2%; } }
@media only screen and (max-width: 768px) {
  #global {
    background: none; }

  .container {
    width: 95%; }

  #wrapper {
    width: 100%; }

  #content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 0; }

  .breadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }

  .products a:nth-child(n+1) {
    margin: 0;
    width: 100%;
    margin-bottom: 2%; }

  #product-container #product-pic {
    float: none;
    margin: 0;
    margin-bottom: 2%;
    width: 100%;
    padding: 0; }
    #product-container #product-pic img {
      width: 100%;
      margin: 0; }
  #product-container #product-info {
    float: none;
    margin: 0;
    width: 100%;
    padding-left: 0;
    text-align: right;
    border-top-width: 1px;
    border-top-color: #CCCCCC;
    border-top-style: dashed;
    border-left: none; }
    #product-container #product-info .row .table .name {
      width: 100%; }
    #product-container #product-info form {
      margin-right: 0; }
      #product-container #product-info form input, #product-container #product-info form select, #product-container #product-info form textarea, #product-container #product-info form button {
        width: 100%; }
      #product-container #product-info form label {
        margin-right: 0; }
    #product-container #product-info #reviews {
      margin: 0;
      margin-top: 2%;
      width: 100%; } }
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* IE < 8 */
